{{#each shoppingCart.records as |record|}}
  {{record.title}} -- {{record.price}}
  <button class="btn" {{action 'removeFromCart' record}}>Remove from Cart</button>
{{/each}}
<button class="btn" {{action 'emptyCart' record}}>Empty Cart</button>
<button class="btn "{{action 'checkout' record}}>checkout</button>


{{shoppingCart.cartTotal}}

{{#if shoppingCart.checkedOut}}
  <p>Checkout Successful!</p>
{{/if}}
