
{{#if editForm}}
  <div>
    <form>
      <div class="form-group">
        <label for="artist">Artist</label>:
        {{record.artist.name}}
      </div>

      <div class="form-group">
        <label for="title">Record Title</label>
        {{input value=record.title id="title"}}
      </div>

      <div class="form-group">
        <label for="genre">Genre</label>
        {{input value=record.genre id="genre"}}
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        {{input value=record.price id="price"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=record.image id="image"}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input value=record.description id="description"}}
      </div>

      <button class="btn" {{action 'update' record}}>Update Record</button>
    </form>
  </div>
{{else}}
  <button class="btn" {{action 'editForm'}}>Edit Info</button>
{{/if}}
